@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import "tailwindcss";

:root {
  --bg: linear-gradient(135deg, #fbe3b5 0%, #f7c3a1 50%, #f3a69a 100%);            
  --text: #6e5c53;        
  --text-h: #2c1a11;
  --border: rgba(243, 229, 219, 0.4);
  --code-bg: rgba(250, 237, 226, 0.7);
  
  --accent: #ff8a47;  
  --accent-bg: rgba(255, 138, 71, 0.1);
  --accent-border: rgba(255, 138, 71, 0.4);
  --social-bg: rgba(255, 186, 66, 0.15); /* Soft Amber/Yellow pop */
  --shadow:
    rgba(214, 114, 57, 0.08) 0 10px 15px -3px, rgba(214, 114, 57, 0.04) 0 4px 6px -2px;

  --sans: "Fira Code", monospace;
  --heading: "Fira Code", monospace;
  --mono: "Fira Code", monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);

  background-image: var(--bg);
  background-attachment: fixed;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: linear-gradient(135deg, #2b211a 0%, #241915 50%, #1a1210 100%);            
    --text: #decbc1;          
    --text-h: #ffba42;       
    --border: #38312e; 
    --code-bg: #2b2522; 
    
    --accent: #ff8a47; 
    --accent-bg: rgba(255, 138, 71, 0.15);
    --accent-border: rgba(255, 138, 71, 0.6);
    --social-bg: rgba(255, 186, 66, 0.1);
    --shadow:
      rgba(0, 0, 0, 0.5) 0 10px 15px -3px, rgba(0, 0, 0, 0.3) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) sepia(1) saturate(5) hue-rotate(15deg);
  }
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

}

body {
  margin: 0;
  background-image: var(--bg);
  background-attachment: fixed;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
  border-radius: 4px;
}